@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

/* ! Carousel styles */

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 30px;
}

.blur-bg {
    background-color: rgba(0, 0, 0, 0.792);
    backdrop-filter: blur(5px);
}